/* Layout */
.nutrition-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

/* Meal Cards */
.meal-card {
  background: #141414;
  border-radius: 16px;
  padding: 18px;
  margin-bottom: 20px;
}

.meal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.meal-header h3 {
  font-size: 16px;
}

.meal-header span {
  color: #2ecc71;
  font-size: 13px;
}

/* Meal Items */
.meal-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px 0;
}

.meal-item img {
  width: 36px;
  height: 36px;
}

.meal-item h4 {
  font-size: 14px;
}

.meal-item p {
  font-size: 12px;
  color: #aaa;
}

.add-item {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  border: 1px dashed #2ecc71;
  background: transparent;
  color: #2ecc71;
  border-radius: 10px;
  cursor: pointer;
}

/* Food Database */
.food-db {
  background: #141414;
  padding: 20px;
  border-radius: 16px;
}

.food-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #222;
}

.food-item img {
  width: 36px;
  height: 36px;
}

.food-item h4 {
  font-size: 14px;
}

.food-item p {
  font-size: 12px;
  color: #aaa;
}

.load-more {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #1f1f1f;
  border: none;
  color: #bbb;
  border-radius: 10px;
}
