@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full bg-black border border-white/10 rounded-lg px-4 py-2 outline-none text-white placeholder-gray-500 focus:border-green-500;
}
